
<form class="example-form1">
    <mat-form-field class="example-full-width">
      <mat-label>New Password</mat-label>
      <input [(ngModel)]='this.passwd' type="password" name="npassword" matInput placeholder="Enter new password" required><span><h6 class='msg2'></h6></span>
  
    </mat-form-field>
  </form>

  <form class="example-form2">
    <mat-form-field class="example-full-width">
      <mat-label>Confirm Password</mat-label>
      <input [(ngModel)]='this.password' type="password" name="cpassword" matInput placeholder="Confirm Password" required><span><h6 class='msg2'></h6></span>
  
    </mat-form-field>
  </form>

  <div class="fb w-75">
    <button type="button" class="setnewpswrdbtn btn-lg" (click)='confirm()'>Confirm</button>
  </div>
