.example-form
{
    margin-top: 100px;;

}


.setnewpswrdbtn
{
    margin-left: 350px;
    border-color: white;
    padding:4px 10px 4px 10px;
    background: green;
    color: white;
    height: 40px;
    font-weight: bold;
    
}

.setnewpswrdbtn:hover
{
    opacity:0.7;
}