<div class="container example-form">
  <h1>ENTER NEW PASSWORD TO RESET</h1>
     
  <form [formGroup]="form" (ngSubmit)="confirm()">
         
      <div class="form-group">
          <label for="password">Password</label>
          <input 
              formControlName="password"
              name="password" 
              type="password" 
              class="form-control">
          <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
              <div *ngIf="f.password.errors.required">Password is required.</div>
          </div>
      </div>

      <div class="form-group">
          <label for="confirm_password">Confirm Password</label>
          <input 
              formControlName="confirm_password"
              name="confirm_password" 
              type="password" 
              class="form-control">
          <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
              <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
              <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
          </div>
      </div>
      
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>



<!--<div class="container">
<form [formGroup]="form" (ngSubmit)="confirm()">
  <div *ngIf="f.confirm_password.errors.confirmedValidator" class="alert alert-danger">Password and Confirm Password must be match.</div>
  <div class="example-form form-group">
    <mat-form-field class="example-full-width">
      <mat-label>New Password</mat-label>
      <input type="password" formControlName="password" name="npassword" matInput placeholder="Enter new password" required>
      <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
        <div *ngIf="f.password.errors.required">Password is required.</div>
      </div>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirm_password" type="password" name="cpassword" (keyup.enter)="confirm()" matInput placeholder="Confirm Password" required>
      <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
        <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
    </div>
    </mat-form-field>
  </div>

  <div class="fb w-75">
    <button type="submit" class="setnewpswrdbtn btn-lg btn btn-primary" [disabled]="!form.valid">Confirm</button>
  </div>
</form>
</div>-->