
.container
{
    margin-right:20%;
    align-content:center;
    
}

.listhead
{
    
    margin-right: 25%;
    padding-top: 15%;
    padding-right:15%;
}

.le
{
    padding-right: 52%;
}

.lee
{
    
    color:grey;
}

.lec
{
    width:70%;
    border-left: 4px solid #0079d3;
    margin-left: 27%;
}

.img
{
    padding-top: 15px;
    padding-right: 75px;
}

.form-group
{
    margin-left: 60%;
    margin-top: 50px;
}

.btn
{
    background-color: #0079d3;
    color:white;
}

.containercard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15%;
    margin-left: 15%;
    width:80%;
    float: left;
  }

.list{
      font-weight: bold;
      padding-top: 5%;
      padding-left: 15%;
  }