<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">
  <!-- Image and text -->
    
<mat-toolbar class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <a class="navbar-brand text-primary font-weight-bold font-italic"><span><mat-icon>eco</mat-icon>Farmeasy</span></a>

  
  <div class="spacer"></div>
  <nav>
  <a mat-button routerLink="/home" >Home</a>
  <a mat-button routerLink="/login">Login</a>
  <a mat-button routerLink="/aboutus">About Us</a>
  <a mat-button routerLink="/blog">Blog</a>
  <a mat-button routerLink="/contactus">Contact</a>
  <a mat-button routerLink="/help">Help</a>
  <a mat-raised-button color="accent"  routerLink="/signup">SignUp</a>
  </nav>

</mat-toolbar>


<router-outlet></router-outlet>
