
<div class="container">

    

        <div class="imgUpload">

            <div class="small-12 medium-2 large-2 columns">
                <div class="circle">
                  <!-- User Profile Image -->
                  <img class="profile-pic" src="assets/accicon.png">
           
                  <!-- Default Image -->
                  <!-- <i class="fa fa-user fa-5x"></i> -->
                
                  <div class="abc">
                    <input style="display: none" type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput>
                    <mat-icon type="button" (click)="fileInput.click()">add_a_photo</mat-icon>
                    <br>{{msg}}
                  </div>
                </div>

            </div>
    
        </div>


    <div class="profileContainer">
      <h2>Edit Profile</h2>
    <div class="row">
      <div class="col-sm">
        <form class="example-form1">
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input [(ngModel)]='fname' type='text' name="fname" matInput placeholder="Sachin"/>
            </mat-form-field>
          </form>
      </div>
      <div class="col-sm">
        <form class="example-form2">
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input [(ngModel)]='lname' type='text' name="location" matInput placeholder="Ex. Tendulkar"/>
            </mat-form-field>
          </form>
      </div>
    </div>


    <div class="row">
      <div class="col-sm">
        <form class="example-form1">
            <mat-form-field class="example-full-width">
              <mat-label>Email Address</mat-label>
              <input [(ngModel)]='email' type='text' name="email" matInput placeholder="Ex. Sachin"/>
            </mat-form-field>
          </form>
      </div>
      <div class="col-sm">
        <form class="example-form2">
            <mat-form-field class="example-full-width">
              <mat-label>Mobile no.</mat-label>
              <input [(ngModel)]='lname' type='text' name="location" matInput placeholder="Ex. Tendulkar"/>
            </mat-form-field>
          </form>
      </div>
    </div>



    <div class="row">
      <div class="col-sm">
        <form class="example-form1">
            <mat-form-field class="example-full-width">
              <mat-label>Date Of Birth</mat-label>
              <input [(ngModel)]='dob' type='date' name="dob" matInput placeholder="Ex. 01/01/1111"/>
            </mat-form-field>
          </form>
      </div>
      <div class="col-sm">
        <form class="example-form2">
            <mat-form-field class="example-full-width">
              <mat-label>Place</mat-label>
              <input [(ngModel)]='place' type='text' name="place" matInput placeholder="Ex. Bangalore"/>
            </mat-form-field>
          </form>
      </div>
    </div>


</div>

<div class="form-group">
  <button class="btn  my-2 my-sm-0" type="button" (click)='registerhost()'>Submit</button>
 </div>


</div>



