
.container
{
    background-color:cadetblue;
    max-width: 100%;
    height:60%;
}

.contact
{

    font-weight: bold;
    padding-top: 100px;
}
.em
{

    color:red;
}

.mn
{
    padding-top: 10px;
    color:red;
}

.adr
{
    margin-top: 20px;
    color:red;
    
    
}

.acts
{
    padding-bottom: 10%;
}