<!--
<div>

  <h1>Find out the area and perimeter of rectangle</h1>

     <br/>Length <input [(ngModel)]='v1'/>
     <br/>Breadth <input [(ngModel)]='v2'/>
     <br/><button (click) = 'Area()'>Area</button>
     <button (click) = 'Perimeter()'>Perimeter</button>

     <p>{{ fv }} hey this is the result.</p>
  
</div>
-->

<app-rect></app-rect>

<p>Dont worry about following things</p>
<div>

  <h1>Find out the area and perimeter of rectangle</h1>

     <br/>Length <input [(ngModel)]='obj.length'/>
     <br/>Breadth <input [(ngModel)]='obj.breadth'/>
     <br/><button (click) = 'aor()'>getans</button>

     <p>{{ fv }} </p>
  
</div>

