
<div class="container">


  <form class="credit-card">
    <div class="form-header">
      <h4 class="title">Credit card detail</h4>
    </div>
   
    <div class="form-body">
      <!-- Card Number -->
      <input type="text" class="card-number" placeholder="Card Number">
   
      <!-- Date Field -->
      <div class="date-field">
        <div class="month">
          <select name="Month">
            <option value="m">Select month</option>
            <option value="january">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">August</option>
            <option value="september">September</option>
            <option value="october">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
          </select>
        </div>
        <div class="year">
          <select name="Year">
            <option value="n">Select year of expiry</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2016">2025</option>
            <option value="2017">2026</option>
            <option value="2018">2027</option>
            <option value="2019">2028</option>
            <option value="2020">2029</option>
          </select>
        </div>
      </div>
   
      <!-- Card Verification Field -->
      <div class="card-verification">
        <div class="cvv-input">
          <input type="text" placeholder="CVV">
        </div>
        <div class="cvv-details">
          <p>3 or 4 digits usually found <br> on the signature strip</p>
        </div>
      </div>
   
      <!-- Buttons -->
      <h4>Rent:{{rent}}</h4>
      <button type="submit" class="proceed-btn" (click)="dopayment()">Pay ₹ {{rent}}</button>
      
    </div>
  </form>


</div>