
<div class="container">

    <div class="row">
  
      <div class="menubar">
        <div class="col-sm">
          
          <app-user-menu></app-user-menu>
  
        </div>
      </div>
      <div class="col-sm">



<div class="containercard">
    <mat-card>
        <h5 class="head">See all your bookings here!</h5>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
      </div>
    </mat-card-header>
    <img class= mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
       
    </mat-card-content>

    <button class="btn" type="button" routerLink='/booking'>Show Bookings</button>
    
  </mat-card>
  </div>

  </div>
  </div>
  </div>
