
.container
{
    background: url(farming.jpg);
    background-size: cover;
    max-width: 100%;
    height:750px;
    
}

.signupContainer
{
    background-color:whitesmoke;
    width: 700px;
    margin-left: 300px;
    height: 750px;
    opacity: 0.8;
}

.fb
{
    padding-top: 100px;
    margin-left: 80px;
    
}

.fbbtn
{
    border-color: white;
    padding:4px 10px 4px 10px;
    background: #3B5998;
    color: white;
    height: 40px;
    font-weight: bold;
    
}

.fbbtn:hover
{
    opacity:0.7;
}

.google
{
    margin-left: 80px;
    
}

.googlebtn
{
    border-color: white;
    margin-top: 10px;
    margin-bottom:50px;
    padding:4px 10px 4px 10px;
    background:#dd4b39;
    color: white;
    height: 40px;
    font-weight: bold;
    
}

.googlebtn:hover
{
    opacity:0.7;
}

.signupbtn
{
    margin-left: 150px;
}

.lgn
{
    font-weight: bold;
    color:red;
    padding-bottom: 50px;
}

.lgn:hover
{
    color:darkmagenta;
    opacity:0.7;
}