
<div class="container">
<h1 class="abt">More about India's Leading Farming Services</h1>

<h1 class="fmp">FARMEASY People</h1>

<h4 class="jec"><span class="jbs">Job Seekers   |   </span><span class="emp">Employers   |    </span>
    <span class="cnslt">Consultants</span></h4>
</div>

<h2 class="hws"><mat-icon>agriculture</mat-icon>     HOW IT ALL STARTED</h2>

<p class="para1">We are the India's leading farming equipments provider. We provide different equipments for different farming crops.
    As the farmers possessing equipments are mostly under-utilised, it is mandatory to make use of it to increase efficiency of farming.
    On the other hand, some farmers cannot afford the costly equipments. Now, farmers mostly prefer local service providers, which do
    not provide flexibility and they have no means to get rid of this. Also, the pandemic situation gave rise to rethink on the 
    traditional ways of doing things. We, the 'Farmeasy' people, providing a platform for farmers to get the services on the click of
    a button, which will enable them to flexibly go across a range of service providers and get the one best suited them. Also utilisation
    of equipments will be increased. FARMEASY People was thus born as a means to strengthen the farmer!
</p>

<p class="para2"></p>

<div class="container-bottom">
    <div class="row">
      <div class="col-sm">
        <h2>Mission</h2>
        <p class="p1">
            We’re here to solve the farming services availability problem to ensure farmers get their desired
            service right on time at their doorstep, so that equipments' utility and farmers need both can be 
            handled!
        </p>
      </div>
      <div class="col-sm">
        <h2>Vision</h2>
        <p class ="p2">
            We at Farmeasy, are looking for 10 million users joining us a year ensuring role of farmers in 
            consolidating Indian economy and digital India. We are looking ourself as #1 farming service
            providers in upcoming farming era in India.
        </p>
      </div>
    </div>
</div>

<div class="fb w-75">
    <button type="button" class="contactbtn btn-lg" routerLink="/contactus" (click)='contactus()'>Contact Us Today</button>
  </div>