<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="app-body" (window:resize)="onResize($event)">-->
 


<div style="text-align:center">
  <!-- Image and text -->
    
<mat-toolbar class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #e3f2fd;">
  <a class="navbar-brand text-primary font-weight-bold font-italic"><span><mat-icon>eco</mat-icon>Farmeasy</span></a>

  
  <div class="spacer"></div>
  
  
  <a mat-button routerLink="/home" >Home</a>
  <div *ngIf="!isLoggedIn">
  <a mat-button routerLink="/login">Login</a></div>
  <a mat-button routerLink="/aboutus">About Us</a>
  <a mat-button routerLink="/blog">Blog</a>
  <a mat-button routerLink="/contactus">Contact Us</a>
  <a mat-button routerLink="/help">Help</a>
  <div *ngIf="!isLoggedIn">
  <a mat-raised-button color="accent"  routerLink="/signup">SignUp</a></div>
  <div class="lgb">
  <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
        <button (click)="logout()" ngbDropdownItem>Logout</button>
    </div>
    <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
      <img class="account-icon" src="assets/accicon.png" alt="">
      {{username}}
    </button>
    </div>
</div>
   
</mat-toolbar>


<router-outlet></router-outlet>
