<div class="container">

    <div class="abc">

<div class="jobicon">

    <h6 class="jq">JobQuest</h6>


</div>

<h6 class="pg">Opening doors to employement</h6>
<h5 class="a">Perfect destination for job search</h5>

</div>
<div class="jbc">
<span class="jdh"><p>Job Description</p></span>
</div>

<div class="p1">

    <h5 class="heading"> Job Title:</h5>
    <h5 class="p">Accounting Clerk</h5>


</div>

<div class="p2">

    <h5 class="heading"> Organizational Unit:</h5>
    <h5 class="pp">Accounting</h5>


</div>

<div class="p3">

    <h5 class="heading"> Accountability:</h5>
    <h5 class="ppg">Accounting</h5>


</div>

<div class="p3">

    <h5 class="heading"> Duties and Responsibilities:</h5>
    <h5 class="pp1">Specific duties include but are not limited to:</h5>


</div>

<div class="p3">

    <ul>
        <li>Accounts Payable</li>
        <li>Accounts Receivable</li>
        <li>General and adjusting journal entries</li>
        <li>Sales Tax Remittance</li>
        <li>Assist with month-end close</li>
        <li>Genaral accounting tasks</li>
        <li>Assist with filling and scanning</li>

    </ul>


</div>

</div>
