

<div class="container">

<div class="listhead">

    <div class= "lec">
    <h1 class="le">List Your Equipment</h1>

    <h3 class="lee">List your tractor, tiller or any type of farm equipments to rent out</h3>
    </div>
</div>

<div class="container-bottom">
    <div class="row">
      <div class="col-sm">
        <form class="example-form1">
            <mat-form-field class="example-full-width">
              <mat-label>Equipment Type</mat-label>
              <input [(ngModel)]='h.equipmenttype' type='text' name="equipmenttype" matInput placeholder="Ex. Tractor" required />
            </mat-form-field>
          </form>
      </div>
      <div class="col-sm">
        <form class="example-form2">
            <mat-form-field class="example-full-width">
              <mat-label>Location </mat-label>
              <input [(ngModel)]='h.location' type='text' name="location" matInput placeholder="Ex. Bangalore" required />
            </mat-form-field>
          </form>
      </div>
    </div>
</div>

<div class="container-bottom">
    <div class="row">
      <div class="col-sm">
        <form class="example-form1">
            <mat-form-field class="example-full-width">
              <mat-label>Manufacturer</mat-label>
              <input [(ngModel)]='h.manufacturer' type='text' name="manufacturer" matInput placeholder="Ex. Mahindra" required />
            </mat-form-field>
          </form>
      </div>
      <div class="col-sm">
        <form class="example-form2">
            <mat-form-field class="example-full-width">
              <mat-label>Service Type</mat-label>
              <input [(ngModel)]='h.servicetype' type='text' name="servicetype" matInput placeholder="Ex. Ploughing" required />
            </mat-form-field>
          </form>
      </div>
    </div>
</div>

<div class="container-bottom">
    <div class="row">
      <div class="col-sm">
        <form class="example-form1">
            <mat-form-field class="example-full-width">
              <mat-label>Rent</mat-label>
              <input [(ngModel)]='h.rent' type='text' name="rent" matInput placeholder="₹ 123" required />
            </mat-form-field>
          </form>
      </div>
      <div class="col-sm">
        <form class="example-form2">
            <!-- <label class="image-upload-container btn btn-bwm">
                <input #imageInput
                       type="file"
                       accept="image/*"
                       (change)="processFile(imageInput)">
            </label>-->
            <div class="img">
              <input style="display: none" type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput>
              <button (click)="fileInput.click()">Choose Image</button>
              <br>{{msg}}
            </div>
          </form>
      </div>
    </div>
</div>

<div class="form-group">
    <button class="btn  my-2 my-sm-0" type="button" (click)='registerhost()'>Add Equipment</button>
   </div>

</div>
