

<img class="img" src="assets/tractor3.jpg" alt="">

<h1>Explore an array of agricultural machines with us</h1>

<p class="para">

    We provide world class agricultural equipments, including tractors, cranes,
    diesel gensets and more, providing the farmers an improved way of farming.
    Are you on the stage of buying agriculture and farming machinery for your farm? 
    If it is your first attempt to buy or on rent farming equipment for your small farm, it must
    be very sensitive time period for you. You must be very worried about whom to consult
    and whom not to. If you know a friend, neighbor or a family member who has good knowledge of 
    agriculture and farming equipment’s, consider it a blessing. If you think they can offer you an
    advice in your welfare, don’t hesitate asking them about which tractor, combine or other farming
    equipment you must buy for your small farm. If you are stuck on a brand that you find impressive, 
    do some research and find if there is someone you know who owns the farming equipment of the same
    brand. When you luckily find, ask about the maintenance, repair frequency, problem areas.

</p>

<div class="container-bottom">
    <div class="row">
      <div class="col-sm">
        <h4>Address:</h4>
        <p class="p1">
            ACTS-CDAC knowledge Park, Near Byapannahalli Metro Station, Bangalore, Karnataka.
        </p>
      </div>
      <div class="col-sm">
        <h4>Contact Details:</h4>
        <p class ="par">
           email: vishagpt@gmail.com
        </p>
        <p class="par">
           email: sagarr20196@gmail.com
        </p>
        <p class="par">
           Mobile no. +91-9557112298, +91-7387495002
        </p>
      </div>
    </div>
</div>

