
<div class="container">

    <div class="row">
  
      <div class="menubar">
        <div class="col-sm">
          
          <app-user-menu></app-user-menu>
  
        </div>
      </div>
      <div class="col-sm">



<div class="containercard" >
    <mat-card>
      

        <table class="table table-striped" *ngIf="!isListEmpty">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Service Type</th>
            <th scope="col">Equipment Type</th>
            <th scope="col">Service Provider</th>
            <th scope="col">Booking Date</th>
            <th scope="col">Finish Date</th>
            <th scope="col">Rent</th>
            <th scope="col">Cancel</th>
          </tr>
        </thead>
        <tbody *ngFor="let b of mybookings">
          <tr>
            <td>{{b.bookingid}}</td>
            <td>{{b.servicetype}}</td>
            <td>{{b.equipmenttype}}</td>
            <td>{{b.serviceprovider}}</td>
            <td>{{b.dateofbooking}}</td>
            <td>{{b.datefinish}}</td>
            <td>{{b.rent}}</td>
            <td><button class="btn btn-danger" type="button" (click)="cancel(b.bookingid)">Cancel</button></td>
          </tr>
        </tbody>
      </table>
    
  </mat-card>
  </div>

  </div>
  </div>
  </div>
