
.container
{
    background-color:#000000;
    max-width: 100%;
    height:280px;
}


.abt
{
    padding-top: 30px;
    color:white;
    
}

.fmp
{
    padding-top: 30px;
    color:white;
}

.jec
{
    padding-top: 15px;
    color:wheat;
}

.hws
{
    padding-top: 15px;
}

mat-icon
{
    font-size: 30px;
}

.para1
{
    
    padding-left: 400px;
    width: 1000px;

}

.para2
{
    
    padding-left: 400px;
    width: 1000px;

}

.container-bottom
{
    background-color:#000000;
    max-width: 100%;
    height:280px;
}

.col-sm
{
    padding-top:15px;
    color:wheat;

}

.p1
{
    padding-left:200px;
    width:500px;
    color:white;
}

.p2
{
    padding-left:180px;
    width:600px;
    color:white;
}

.contactbtn
{
    margin-top:20px;
    margin-left:400px;
    margin-bottom:50px;
    background-color:black;
    color:white;
    
}