
<div class="container">
<h1 class="abt">More about India's Leading Farming Equipments</h1>

<h1 class="fmp">FARMEASY People</h1>

<h4 class="jec"><span class="jbs">Job Seekers   |   </span><span class="emp">Employers   |    </span>
    <span class="cnslt">Consultants</span></h4>

</div>


<h2 class="hws"><mat-icon>agriculture</mat-icon>    HOW IT ALL STARTED</h2>


<p class="para1">We are the India's leading farming equipments provider. We provide different equipments for different farming crops.
    we recognised a recurring problem in the job market. Access to a trustworthy database of candidates in the entry level and blue 
    collar job segments was largely restricted, and the hiring process highly disorganised. This was due to a crippling unavailability
     of information regarding skill benchmarks as well as job requirements. It was therefore essential to create a repository of data 
     containing information about jobs as well as candidates in this segment. FARMEASY People was thus born as a means to address this problem.
</p>

<p class="para2">
    Over the years, FARMEASY People has evolved into an end-to-end recruitment marketplace connecting employers, consultants and job 
    seekers for jobs across hierarchies in an organization.
</p>


<div class="container-bottom">
    <div class="row">
      <div class="col-sm">
        <h4>Mission</h4>
        <p class="p1">
            We’re here to solve the hiring woes once and for all, across all job hierarchies, industries,
             cities and for all parties concerned - employers, recruitment consultants and job seekers.
        </p>
      </div>
      <div class="col-sm">
        <h4>Vision</h4>
        <p class ="p2">
            As part of the India story, we seek to leverage India’s rich human resource by making hiring
             easy for all parties involved - candidates, employers as well as recruitment consultants. 
             Our target is to cross over 1 million joinings annually. To achieve this, we have initiated 
             the process of creating a recruitment marketplace where recruiters help companies hire and grow
              by using a highly curated process of searching and screening candidates.
        </p>
      </div>
    </div>
</div>

<div class="fb w-75">
    <button type="button" class="contactbtn btn-lg" routerLink="/contactus" (click)='contactus()'>Contact Us Today</button>
  </div>