.rc {color:red};



.container{
			
    
    width:400px;
    margin-top: 100px;

                
}

.txtalign
{
    text-align:center;
    margin-top: 70px;
}

.btn
{
    margin-left: 160px;
}

.needbtn
{
    text-align: center;
    margin-left: 300px;
}

.example-form1
{
    align-content: center;
    margin-top: 70px;
}

.spacer
{
    flex: 1 1 auto;
}